{% extends "layout.html" %}
{% block title %}Create Account{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="container-fluid">
    <div class="h3 text-center mt-5 mb-3">Create Account</div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" class="bg-light p-3 rounded shadow">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="{{ form.account_type.id }}"></label>
                    {{ render_field(form.account_type, class="form-control") }}
                </div>
                <div class="form-group">
                    <label for="{{ form.initial_deposit.id }}"></label>
                    {{ render_field(form.initial_deposit, class="form-control") }}
                </div>
                <div class="text-center">
                    {{ form.submit(class="btn btn-primary my-3") }}
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    body {
        background-color: #f8f9fa;
    }
    label {
        font-weight: bold;
    }
    .form-control:focus {
        box-shadow: none;
    }
</style>
{% endblock %}
