{% extends "layout.html" %}
{% block title %}My Accounts{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="card">
    <div class="card-body">
        <div class="h3 mb-4">My Accounts</div>
        {% if accounts %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Account Number</th>
                    <th>Account Type</th>
                    <th>Modified</th>
                    <th>Balance</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <td>{{ account["id"] }}</td>
                    <td>{{ account["account_number"] }}</td>
                    <td>{{ account["account_type"] }}</td>
                    <td>{{ account["modified"] }}</td>
                    <td>{{ account["balance"] }}</td>
                    <td>
                        <a href="{{url_for('accounts.account_details', account_number=account["account_number"])}}" class="btn btn-primary">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="text-muted">No accounts found.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
